# Data
data/
backend/uploads/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Node
frontend/node_modules/
frontend/dist/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE project files
frontend/.idea/
backend/.idea/